<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
</div>
  <p>
    The custom wigs are constructed by <a target="_blank" href="http://github.com/Christinascott11/stinababy">Christina Scott</a>. A stylist who is on a mission to give people the wigs they dream and desire.
  </p>
  <br />
  <p>
    She has self taught her self with the help of online classes from wig gurus to create flawless wigs. 
  </p>
  <p>
    If you want to order a custom unit - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>
  </div>

    <div class="row">
      <div class="col-12 col-sm-4">
        <%= image_tag 'me.JPG', class: 'img-fluid', id:"profile_image" %>
      </div>

      <div class="col-12 col-sm-7 offset-sm-1">
        <h2 class="text-center">Christina Scott</h2>
        <br />
        <p>
          Christina Scott is a wig constructor that has studied how to blend wigs correctly with each skin tone.
        </p>
      </div>
    </div>

  </div>
    <br class="clear" />
    <br />
    <br />
    <br />
    <br />

